@mixin max_400 {
  @media (max-width: 400px) {
    @content;
  }
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: transparent;
  transition: background 0.25s;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  h1 {
    font-weight: bold;
    transition: color 0.25s;
    cursor: pointer;

    a {
      all: unset;
      color: unset;
      transition: all 0.5s;

      &:hover {
        all: unset;
        color: unset;
      }
    }
  }

  .film {
    display: inline-block;
    width: calc(1.375rem + 0.5vw);
    height: calc(1.375rem + 0.5vw);
    margin-left: 8px;
    background-image: url(../assets/img/film.svg);
    background-repeat: no-repeat;
    transition: filter 0.25s;
    animation: spin 8s linear infinite;

    @keyframes spin {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    &.invert {
      filter: invert(1);
    }
  }

  .form-switch {
    position: absolute;
    left: 1rem;
    top: -100%;
    transition: top 0.25s;

    &.visible {
      top: 0.5rem;
    }

    input {
      cursor: pointer;
    }
    
    @include max_400() {
      left: unset;
      right: 1.25rem;
      top: 0.5rem;
    }
  }

  .settings-button {
    position: absolute;
    left: 1.25rem;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../assets/img/settings.svg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 2.5rem;
    transition: transform 0.25s;
    cursor: pointer;

    &:hover {
      transform: rotate(90deg);
    }

    &:active {
      transform: rotate(90deg) scale(0.9);
    }
    
    @include max_400() {
      top: 0.5rem;
    }
  }
}

header.text-light .settings-button {
  filter: invert(1);
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  flex: 1 0 auto;

}

.search__container {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  width: 300px;

  .search-button {
    margin-left: 6px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 390px;
  margin-top: 1rem;
  transition: box-shadow 0.2s;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s, box-shadow 0.25s;

  &:hover {
    box-shadow: 0px 0px 0.5rem 0px rgba(0, 0, 0, 0.3);
  }

  &:hover .card__info {
    transform: translateY(0);
  }

  .card__title {
    padding: 0 4px;
    width: 100%;
    height: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .card__poster {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 330px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0;
    border-radius: 4px;
    transition: background-size 0.25s, background-position 0.25s;

    &.no-image {
      background-image: url(../assets/img/sad.svg);
      background-size: 50%;
      background-position: 50% 40%;
    }
  }

  .card__rating {
    position: absolute;
    top: 6px;
    left: 6px;
    filter: drop-shadow(0 0 2px black);
  }

  .card__fav {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 1.35rem;
    height: 1.35rem;
    background-image: url(../assets/img/star-black.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    outline: none;
    border: none;
    filter: drop-shadow(0 0 2px white);
    opacity: 0.8;
    transition: transform 0.15s, opacity 0.15s;

    &.isFav {
      background-image: url(../assets/img/star-yellow.svg);
      filter: drop-shadow(0 0 2px black);
      opacity: 1;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  .card__info {
    position: absolute;
    height: 120px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(100%);
    transition: transform 0.25s;

    .card__info-button {
      display: block;
    }
  }
}

.swiper-container {
  width: auto;
  display: flex;
  justify-content: center;
  height: 470px;
  max-width: 1280px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

#movies {
  .alert {
    margin: 0 auto;
    width: fit-content;
  }
}

.swiper-container.favorites {
  .alert.favorites {
    position: absolute;
    top: 40%;
  }
}


#top101 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}

#top101.text-light .top101-row {
  background: rgba(255, 255, 255, 0.2);
}

.top101-row {
  margin: 0.25rem 0;
  position: relative;
  padding: 0.5rem;
  height: 106px;
  max-width: 600px;
  width: 40%;
  min-width: 320px;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.5s, box-shadow 0.25s;
  border: 1px solid rgba(0, 0, 0, .125);
  background: #FFF;

  &:hover {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  }

  .row__position {
    width: 2rem;
    min-width: 2rem;
  }

  .row__poster {
    position: relative;
    height: 90px;
    width: 60px;
    min-width: 60px;
    background-repeat: no-repeat;
    background-size: contain;

    .row__rating {
      position: absolute;
      top: 3px;
      left: -3px;
      filter: drop-shadow(0 0 2px black);
    }

    .row__fav {
      position: absolute;
      bottom: 3px;
      right: -3px;
      width: 1.25rem;
      height: 1.25rem;
      background-image: url(../assets/img/star-black.svg);
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      outline: none;
      border: none;
      filter: drop-shadow(0 0 3px white);
      opacity: 0.8;
      transition: transform 0.15s, opacity 0.15s;

      &.isFav {
        background-image: url(../assets/img/star-yellow.svg);
        filter: drop-shadow(0 0 2px black);
        opacity: 1;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .row__title {
    padding-left: 1rem;
  }

  .row__info-button {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    transform: translateX(calc(100% + 1.25rem));
    transition: transform 0.25s ease-out;
  }

  &:hover .row__info-button {
    transform: translateX(0%);
  }
}

#modal {
  
  .modal-poster {
    max-width: 100%;
  }
  
  .text-plot {
    padding-top: 0.25rem;
    color: darkgray;
    font-size: 0.9rem;
  }
}

.modal-content.dark {
  background-color: #4D5154!important;
}

.modal-body .list-group-item {
    background-color: inherit;

}

footer {
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  padding-bottom: 4px;
  padding-top: 1rem;

  a.rsschool {
    display: block;
    margin-right: 5px;
    width: 64px;
    height: 24px;
    background-image: url(../assets/img/rs_school.svg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.55;

    &:hover {
      opacity: 0.7;
    }

    &.invert {
      filter: invert(1);
    }
  }
}
