html,
body {
  height: 100%;
  background: transparent;
  transition: background 0.25s;
}

html {
  display: block;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header h1 {
  width: 100%;
  margin: 0;
  padding: 8px 0 12px 0;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media (max-width: 400px) {
  header h1 {
    font-size: 30px;
  }
}

header h1 a {
  all: unset;
  color: unset;
  transition: all 0.5s;
}

header h1 a:hover {
  all: unset;
  color: unset;
}

header h1 span.film {
  display: inline-block;
  margin-bottom: -1px;
  margin-left: 1px;
  width: calc(1.375rem + 0.5vw);
  height: calc(1.375rem + 0.5vw);
  background-image: url(../assets/img/film.svg);
  background-repeat: no-repeat;
  transition: filter 0.25s;
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header h1 span.film.invert {
  filter: invert(1);
}

header .themeSwitch-container {
  position: absolute;
  left: 3rem;
  top: -100%;
  transition: top 0.5s;
}

header .themeSwitch-container.visible {
  top: 0.25rem;
}

@media (max-width: 400px) {
  header .themeSwitch-container {
    left: unset;
    right: 1.25rem;
  }
}

header .themeSwitch-container .checkbox {
  opacity: 0;
  position: absolute;
  left: 0rem;
  top: -100%;
  transition: top 0.25s;
}

header .themeSwitch-container .label {
  background-color: #4D5154;
  border-radius: 50px;
  border: 1px solid gray;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 28px;
  width: 52px;
  transform: scale(0.85);
}

header .themeSwitch-container .label .ball {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

header .themeSwitch-container .checkbox:checked + .label .ball {
  transform: translateX(24px);
}

header .themeSwitch-container .fa-moon {
  color: #e7cd63;
}

header .themeSwitch-container .fa-sun {
  color: #f0c025;
}

header .settings-button {
  position: absolute;
  left: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../assets/img/settings.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  top: -100%;
  transition: top 0.5s, transform 0.25s;
}

header .settings-button.visible {
  transform: rotate(0deg);
  animation: spin 1.5s ease-out 0.1s 1;
  top: 0.35rem;
}

header .settings-button:hover {
  transform: rotate(-60deg);
}

header .settings-button:active {
  transform: scale(0.9);
}

@keyframes spin {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

header.text-light .settings-button {
  filter: invert(1);
}

header.text-light .label.themeSwitch {
  background-color: #000;
}

header.text-light .nav-link.active {
  background-color: #212529;
  border-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

header.text-light h1 {
  background: rgba(0, 0, 0, 0.4);
}

header.text-light #nav {
  background: rgba(0, 0, 0, 0.4);
}

.nav-tabs {
  border-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  flex: 1 0 auto;
}

.search__container {
  position: relative;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  min-width: 320px;
  max-width: 500px;
  width: 50%;
}

.search__container .fa-keyboard {
  position: absolute;
  left: -1rem;
  font-size: 1.5rem;
  line-height: 1.5;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.25s, transform 0.5s;
}

.search__container .fa-keyboard.active {
  opacity: 1;
}

@media (max-width: 400px) {
  .search__container .fa-keyboard {
    visibility: hidden;
  }
}

.search__container .search-button {
  margin-left: 6px;
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 390px;
  margin-top: 1rem;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s, box-shadow 0.25s;
}

.card:hover {
  box-shadow: 0px 0px 0.5rem 0px rgba(0, 0, 0, 0.3);
}

.card:hover .card__info {
  transform: translateY(0);
}

.card .card__title {
  padding: 0 4px;
  width: 100%;
  height: 3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.card .card__poster {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 330px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  border-radius: 4px;
  transition: background-size 0.25s, background-position 0.25s;
}

.card .card__poster.no-image {
  background-image: url(../assets/img/sad.svg);
  background-size: 50%;
  background-position: 50% 40%;
}

.card .card__rating {
  position: absolute;
  top: 6px;
  left: 6px;
  filter: drop-shadow(0 0 2px black);
}

.card .card__fav {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 1.35rem;
  height: 1.35rem;
  background-image: url(../assets/img/star-black.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  outline: none;
  border: none;
  filter: drop-shadow(0 0 2px white);
  opacity: 0.8;
  transition: transform 0.15s, opacity 0.15s, background 0.15s;
}

.card .card__fav.isFav {
  background-image: url(../assets/img/star-yellow.svg);
  filter: drop-shadow(0 0 2px black);
  opacity: 1;
}

.card .card__fav:hover {
  transform: scale(1.2);
}

.card .card__info {
  position: absolute;
  height: 120px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(100%);
  transition: transform 0.25s;
}

.card .card__info .card__info-button {
  display: block;
}

.swiper-container {
  width: auto;
  display: flex;
  justify-content: center;
  height: 446px;
  max-width: 1280px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-fraction {
  width: 100% !important;
}

.bg-dark .card {
  background-color: rgba(255, 255, 255, 0.95);
}

.bg-dark .swiper-pagination {
  color: #f8f9fa;
  bottom: 0;
}

.bg-dark .swiper-pagination-bullet {
  background: #fff;
}

#nav {
  width: 100%;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
}

#movies .alert {
  margin: 0 auto;
  width: fit-content;
}

#favorites .alert.favorites {
  margin: 0 auto;
  width: fit-content;
  transform: translateY(200px);
}

#favorites .alert.favorites.top {
  transform: translateY(0);
}

#top101 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}

#top101.text-light .top101-row {
  background: rgba(255, 255, 255, 0.2);
}

.top101-row {
  margin: 0.25rem 0;
  position: relative;
  padding: 0.5rem;
  height: 106px;
  max-width: 600px;
  width: 40%;
  min-width: 320px;
  display: flex;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.5s, box-shadow 0.25s;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #FFF;
}

.top101-row:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}

.top101-row .row__position {
  width: 2rem;
  min-width: 2rem;
}

.top101-row .row__poster {
  position: relative;
  height: 90px;
  width: 60px;
  min-width: 60px;
  background-repeat: no-repeat;
  background-size: contain;
}

.top101-row .row__poster .row__rating {
  position: absolute;
  top: 3px;
  left: -3px;
  filter: drop-shadow(0 0 2px black);
}

.top101-row .row__poster .row__fav {
  position: absolute;
  bottom: 3px;
  right: -3px;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../assets/img/star-black.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  outline: none;
  border: none;
  filter: drop-shadow(0 0 3px white);
  opacity: 0.8;
  transition: transform 0.15s, opacity 0.15s, background .15s;
}

.top101-row .row__poster .row__fav.isFav {
  background-image: url(../assets/img/star-yellow.svg);
  filter: drop-shadow(0 0 2px black);
  opacity: 1;
}

.top101-row .row__poster .row__fav:hover {
  transform: scale(1.2);
}

.top101-row .row__title {
  padding-left: 1rem;
}

.top101-row .row__info-button {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  transform: translateX(calc(100% + 1.25rem));
  transition: transform 0.25s ease-out;
}

.top101-row:hover .row__info-button {
  transform: translateX(0%);
}

#movieModal .modal-poster {
  max-width: 100%;
}

#movieModal .text-plot {
  padding-top: 0.25rem;
  color: darkgray;
  font-size: 0.9rem;
}

.modal-dialog.dark .modal-content {
  background-color: #4D5154 !important;
}

.modal-dialog.dark .modal-content option {
  background-color: #4D5154 !important;
}

.modal-body .form-select {
  background-color: inherit;
  color: inherit;
  margin-bottom: 1rem;
}

.badge {
  cursor: pointer;
  transition: opacity .15s;
}

.badge:hover {
  opacity: 0.8;
}

footer {
  width: 100%;
  height: 90px;
}

footer .wrapper {
  height: 100%;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 2px;
  padding-top: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

footer a {
  color: inherit;
}

footer a:hover {
  color: inherit;
}

footer a.rsschool {
  display: block;
  margin-right: 5px;
  width: 96px;
  height: 36px;
  background-image: url(../assets/img/rs_school.svg);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.55;
}

footer a.rsschool:hover {
  opacity: 0.7;
}

footer.text-muted {
  background-color: rgba(0, 0, 0, 0.4);
}

footer.text-muted a.rsschool {
  filter: invert(1);
}

.glitch {
  position: relative;
  color: inherit;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  0% {
    clip: rect(53px, 9999px, 35px, 0);
    transform: skew(0.4deg);
  }
  5% {
    clip: rect(96px, 9999px, 14px, 0);
    transform: skew(0.69deg);
  }
  10% {
    clip: rect(23px, 9999px, 63px, 0);
    transform: skew(0.52deg);
  }
  15% {
    clip: rect(95px, 9999px, 98px, 0);
    transform: skew(0.3deg);
  }
  20% {
    clip: rect(14px, 9999px, 82px, 0);
    transform: skew(0.37deg);
  }
  25% {
    clip: rect(15px, 9999px, 34px, 0);
    transform: skew(0.4deg);
  }
  30% {
    clip: rect(60px, 9999px, 14px, 0);
    transform: skew(0.04deg);
  }
  35% {
    clip: rect(8px, 9999px, 96px, 0);
    transform: skew(0.62deg);
  }
  40% {
    clip: rect(26px, 9999px, 85px, 0);
    transform: skew(0.33deg);
  }
  45% {
    clip: rect(66px, 9999px, 48px, 0);
    transform: skew(0.84deg);
  }
  50% {
    clip: rect(71px, 9999px, 31px, 0);
    transform: skew(0.25deg);
  }
  55% {
    clip: rect(46px, 9999px, 33px, 0);
    transform: skew(0.44deg);
  }
  60% {
    clip: rect(26px, 9999px, 90px, 0);
    transform: skew(0.28deg);
  }
  65% {
    clip: rect(54px, 9999px, 36px, 0);
    transform: skew(0.45deg);
  }
  70% {
    clip: rect(43px, 9999px, 43px, 0);
    transform: skew(0.52deg);
  }
  75% {
    clip: rect(46px, 9999px, 39px, 0);
    transform: skew(0.3deg);
  }
  80% {
    clip: rect(4px, 9999px, 49px, 0);
    transform: skew(0.69deg);
  }
  85% {
    clip: rect(69px, 9999px, 13px, 0);
    transform: skew(0.21deg);
  }
  90% {
    clip: rect(27px, 9999px, 8px, 0);
    transform: skew(0.08deg);
  }
  95% {
    clip: rect(31px, 9999px, 28px, 0);
    transform: skew(0.15deg);
  }
  100% {
    clip: rect(97px, 9999px, 49px, 0);
    transform: skew(0.39deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(74px, 9999px, 100px, 0);
    transform: skew(0.46deg);
  }
  5% {
    clip: rect(21px, 9999px, 85px, 0);
    transform: skew(0.98deg);
  }
  10% {
    clip: rect(86px, 9999px, 63px, 0);
    transform: skew(0.44deg);
  }
  15% {
    clip: rect(78px, 9999px, 24px, 0);
    transform: skew(0.27deg);
  }
  20% {
    clip: rect(10px, 9999px, 45px, 0);
    transform: skew(0.02deg);
  }
  25% {
    clip: rect(81px, 9999px, 21px, 0);
    transform: skew(0.93deg);
  }
  30% {
    clip: rect(48px, 9999px, 3px, 0);
    transform: skew(0.57deg);
  }
  35% {
    clip: rect(64px, 9999px, 4px, 0);
    transform: skew(0.4deg);
  }
  40% {
    clip: rect(53px, 9999px, 80px, 0);
    transform: skew(0.15deg);
  }
  45% {
    clip: rect(1px, 9999px, 91px, 0);
    transform: skew(0.53deg);
  }
  50% {
    clip: rect(91px, 9999px, 82px, 0);
    transform: skew(0.41deg);
  }
  55% {
    clip: rect(62px, 9999px, 32px, 0);
    transform: skew(0.9deg);
  }
  60% {
    clip: rect(37px, 9999px, 8px, 0);
    transform: skew(0.6deg);
  }
  65% {
    clip: rect(32px, 9999px, 3px, 0);
    transform: skew(0.68deg);
  }
  70% {
    clip: rect(94px, 9999px, 92px, 0);
    transform: skew(0.22deg);
  }
  75% {
    clip: rect(21px, 9999px, 31px, 0);
    transform: skew(0.07deg);
  }
  80% {
    clip: rect(39px, 9999px, 74px, 0);
    transform: skew(0.86deg);
  }
  85% {
    clip: rect(78px, 9999px, 67px, 0);
    transform: skew(0.84deg);
  }
  90% {
    clip: rect(27px, 9999px, 94px, 0);
    transform: skew(0.57deg);
  }
  95% {
    clip: rect(91px, 9999px, 53px, 0);
    transform: skew(0.01deg);
  }
  100% {
    clip: rect(52px, 9999px, 62px, 0);
    transform: skew(0.67deg);
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(-2deg);
  }
  10% {
    transform: skew(0deg);
  }
  20% {
    transform: skew(-4deg);
  }
  30% {
    transform: skew(-3deg);
  }
  40% {
    transform: skew(0deg);
  }
  50% {
    transform: skew(-4deg);
  }
  60% {
    transform: skew(2deg);
  }
  70% {
    transform: skew(1deg);
  }
  80% {
    transform: skew(3deg);
  }
  90% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(3deg);
  }
}
